<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webProjectPortfolio</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>member</servlet-name>
  	<servlet-class>org.web.memberController.MemberController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>member</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>bbs</servlet-name>
  	<servlet-class>org.web.bbsController.BboardController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>bbs</servlet-name>
  	<url-pattern>*.bo</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>liveChat</servlet-name>
  	<servlet-class>org.web.chatController.ChatController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>liveChat</servlet-name>
  	<url-pattern>*.ch</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>webtoonList</servlet-name>
    <servlet-class>org.web.crawling.Webtoon_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>webtoonList</servlet-name>
    <url-pattern>/weekday.nhn</url-pattern>
  </servlet-mapping>
  
</web-app>